# First Steps.

### Jupyter has Markdown Cells and Code Cells 

This is a markdown cell! You can double-click and edit it... If you need help on markdown, look [here](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).
   


### Now let's look into a Code cell:

In a code cell you can normally write code of a Programming language like Python, but in this course we will use Code Cells for executing SQL commands!

In [1]:
# this is a comment in Python:
print('Hello world! This is not SQL, this is Python')

Hello world! This is not SQL, this is Python

<div style="color:blue">
This is a Markdown cell. Double-click it to edit, then hit Ctrl+Enter to render. 

You can also use Copy-Paste to attach an image here! 
</div>

### Let's try to work with SQL

*Here, we set up the LOGIN variable via a "Python/Jupyter trick" in such a way that you do not need to do anything in order to connect to a database. If this trick fails for some reason, and you experience problems connecting, you might need to set up the LOGIN variable with your WU login manually.*
That is, normally you do not need to modify this call, just run it:

You need to run this cell below to connect to the database and work with this notebook (e.g. by pressing Ctrl+Enter, or choosing the 'Play' button with the cell selected).

In [1]:
import os
%load_ext sql

    
LOGIN = os.environ.get('JUPYTERHUB_USER')
DATABASE = LOGIN
HOSTNAME = "postgresql.student-db.svc.cluster.local"

print("Login is recognized as ", LOGIN,". It should be your WU login.",)
print("If not, please change the previous line to be: LOGIN = 'hXYZYZY' # (replace hXYZYZY with your WU login)")


%sql postgresql://$LOGIN:$LOGIN@$HOSTNAME/$DATABASE

/opt/conda/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/conda/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Login is recognized as  h11912099 . It should be your WU login.
If not, please change the previous line to be: LOGIN = 'hXYZYZY' # (replace hXYZYZY with your WU login)

<div style="color:blue"/>
    
**The exercise asks you to insert some long strings (hints, references, comments) into the database. See how this can be done (you can e.g. use the dataype VARCHAR for the long text columns...):**
    
<div style="color:black">

If you want to know more about allowed datatypes usable for columns in Postgres (the RDBMS we're using in the lecture) or ask yourself what the SERIAL datatype (it makes PostgreSQL to automatically filll the id column with a non-taken numeric id) in Postgres SQL does, look [here](https://www.postgresql.org/docs/11/datatype.html).

</div>

In [3]:
%%sql

DROP TABLE IF EXISTS Table1;
CREATE TABLE Table1( id INTEGER PRIMARY KEY, name VARCHAR );

INSERT INTO Table1(id,name) VALUES(1, 'Alice'),(2, 'Bob'),(3, 'Charly');

SELECT * FROM Table1;

 * postgresql://h11912099:***@postgresql.student-db.svc.cluster.local/h11912099
Done.
Done.
3 rows affected.
3 rows affected.

[(1, 'Alice'), (2, 'Bob'), (3, 'Charly')]

In [4]:
%%sql 

-- comments in SQL code are written with two leading dashes... Note: only the last SQL SELECT query in the cell will be printed;
SELECT name FROM Table1 WHERE name LIKE 'A%';
SELECT name FROM Table1 WHERE name LIKE 'B%';

 * postgresql://h11912099:***@postgresql.student-db.svc.cluster.local/h11912099
1 rows affected.
1 rows affected.

[('Bob',)]


**You can insert further Code and Markdown cells to solve the tasks of the homework (just press the '+' button in the Menu, or us the [Jupyter shortcuts](http://maxmelnick.com/2016/04/19/python-beginner-tips-and-tricks.html) to create your tables, following your ER, insert some data (using code cells (where you should not forget to start any SQL code with `%%sql` in the beginning of the cell), and finally don't forget to add some useful hints in the form of markdown cells. (We'll share those in the class, if you do not object)**