In [1]:
import getpass
PASSWORD = getpass.getpass()

In [2]:
import os
%load_ext sql
 
LOGIN = os.environ.get('JUPYTERHUB_USER')
DATABASE = LOGIN
HOSTNAME = "postgresql.student-db.svc.cluster.local"

print("Login is recognized as ", LOGIN,". It should be your WU login.",)
print("If not, please change the previous line to be: LOGIN = 'hXYZYZY' # (replace hXYZYZY with your WU login)")


%sql postgresql://$LOGIN:$PASSWORD@$HOSTNAME/$DATABASE
#%sql postgresql://$LOGIN:$LOGIN@$HOSTNAME/$DATABASE

/opt/conda/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/conda/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Login is recognized as  h11912099 . It should be your WU login.
If not, please change the previous line to be: LOGIN = 'hXYZYZY' # (replace hXYZYZY with your WU login)

In [3]:
%%sql

DROP TABLE IF EXISTS Report CASCADE;
DROP TABLE IF EXISTS compares CASCADE;
DROP TABLE IF EXISTS Country CASCADE;
DROP TABLE IF EXISTS Organisation CASCADE;

CREATE TABLE Report (title VARCHAR PRIMARY KEY, topic VARCHAR);
CREATE TABLE Country (countrycode VARCHAR PRIMARY KEY, cname VARCHAR);
CREATE TABLE compares (title VARCHAR REFERENCES Report, countrycode VARCHAR REFERENCES Country, PRIMARY KEY (title,countrycode));
--CREATE TABLE Organisation (organisationname varchar, naming varchar, countrycode VARCHAR references Country);

 * postgresql://h11912099:***@postgresql.student-db.svc.cluster.local/h11912099
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: --CREATE TABLE Organisation (organisationname varchar, naming varchar, countrycode VARCHAR references Country);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [4]:
%%sql

INSERT INTO Country VALUES ('AT','Austria');
INSERT INTO Country VALUES ('DE','Germany');
INSERT INTO Country VALUES ('BE','Belgium');
--INSERT INTO Organisation VALUES ('WU','University','AT'); 
INSERT INTO Report VALUES ('theclimatereport','climate change'); 
INSERT INTO Report VALUES ('theweatherreport','climate change'); 
INSERT INTO Report VALUES ('thepopulationreport','demography'); 
INSERT INTO compares VALUES ('theweatherreport','AT');
INSERT INTO compares VALUES ('theweatherreport','DE'); 
INSERT INTO compares VALUES ('theclimatereport','DE'); 
INSERT INTO compares VALUES ('theclimatereport','BE'); 
INSERT INTO compares VALUES ('thepopulationreport','AT'); 
INSERT INTO compares VALUES ('thepopulationreport','DE'); 
INSERT INTO compares VALUES ('thepopulationreport','BE');

 * postgresql://h11912099:***@postgresql.student-db.svc.cluster.local/h11912099
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql

select c.cname, r.topic, count(*) "number of reports" from Country c
join compares cp on c.countrycode = cp.countrycode
join Report r on cp.title = r.title
group by cname, topic;

 * postgresql://h11912099:***@postgresql.student-db.svc.cluster.local/h11912099
6 rows affected.

[('Germany', 'demography', 1),
 ('Belgium', 'climate change', 1),
 ('Germany', 'climate change', 2),
 ('Belgium', 'demography', 1),
 ('Austria', 'climate change', 1),
 ('Austria', 'demography', 1)]